body
{
	font-family: Calibri, Candara, Arial, sans-serif;
	background-color: #9E2020;
}
ul#tabs
{
	list-style-type: none;
	margin: 50px 0 0 0;
	padding: 0 0 0.3em 0;
}
ul#tabs li
{
	display: inline;
	padding: 10px;
}
ul#tabs li a
{
	color: black;
	background-color: #f1f1f1;
	border: 5px solid black;
	border-bottom: none;
	padding: 0.3em 2em 0.3em 2em;
}
ul#tabs li a:hover
{
	background-color: #9E2020;
}
ul#tabs li a.selected
{
	background-color: #E8621A;
	font-weight: bold;
	padding: 0.7em 0.3em 0.38em 0.3em;
}
div.tabContent
{
	border: 3px solid black;
	padding: 0.5em;
	background-color: #E8621A;
}
div.tabContent.hide
{
	display: none;
}
ul.assignment
{
	list-style-type: square;
}